*{
    box-sizing: border-box;
}
/* the header */
header{
    width: 100%;
    text-align: center;
    background-color: blue;   
    padding: 10px;
}

#searching{
    background-color: #CFACAC;
}

#info{
    background-color: #F7C7C7;
}
#todayinfo{
    height: 350px;
    padding: 20px;
}
#forecastweather{
    height: 300px;
}
body{
    background-image: radial-gradient(black,white);
}
#theCityDisplay{
    width: 100%;;
}
.cityNameTag{
    background-color: white;
    text-align: center;
    margin: 10px;
    height: 25px;
}
#todaydisplay{
    background-color: white;
    padding-top: 10px;
}
img{
    visibility: hidden;
}
section{
    float: left;
    background-color: blue;
    width: 15%;
    height: 150px;
    margin: 10px;
    color: white;
}