*{
    box-sizing: border-box;
}
/* the header */
header{
    width: 100%;
    text-align: center;
    background-color: black;   
    padding: 10px;
    color: white;
}

#searching{
    background-color: #CFACAC;
    border: 2px solid black;
}

#info{
    background-color: #F7C7C7;
    border: 2px solid black;
}
#todayinfo{
    height: 350px;
    padding: 20px;
    
}
#forecastweather{
    height: 300px;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
#theCityDisplay{
    width: 100%;;
}
.cityNameTag{
    text-align: center;
    height: 25px;
    padding: 0px !important;
}
.cityNameTag:hover{
    cursor: pointer;
}
#todaydisplay{
    background-color: white;
    padding-top: 10px;
    border: 2px solid blue;
}
img{
    visibility: hidden;
}
section{
    float: left;
    background-color: blue;
    width: 15%;
    height: 200px;
    margin: 10px;
    color: white;
    border: 2px solid white;
}
.UVColor{
    background-color: red;
    padding: 5px;
    color: white;
}