/* change to everything */
*{
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
/* change to the navbar */
nav{
    display: inline-block;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    
}
/* the links to other html page div */
.links{
    float: left;
    text-align: center;
    height: 60px;
    padding: 20px;
    width: 50%;
}
/* the name div */
#nametag{
    float: left;
    padding-top: 20px;
    text-align: center;
    height: 60px;
    width: 40%;
    background-color: #4aaaa5;
    margin-left: 10%;
}
/* change the name font size */
h1{
    font-size: 25px;
}

body{
    background-image: url("../image/backgroundimg.png");
}
/* this the information class container div */
#infoarea{
    background-color: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
}
/* this is the title in the content */
#contenttitle{
    border-bottom: solid 2px #4aaaa5;
    margin: auto;
}
/* this is the image making it fit in the div*/
img{
    width: 100%;
}
/* footer fixed to stay at bottom of page*/
footer{
    border-top: 8px solid #4aaaa5;
    background-color: #777777;
    height: 50px;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    position: fixed; bottom: 0;
    width: 100%;
}
/* making some space between content info and the title */
.info{
    margin-top: 20px;
}
/* this change the links */
a{
    color: #777777;
    text-decoration: none;
}
/* this change the page by stack up nav tags when the screen is less than 767px */
@media screen and (max-width: 767px) {
    .links{
        width: 100%;
        height: 50px;
    }
    #nametag{
        width: 100%;
        height: 50px;
        margin: 0px;
    }
    nav{
        background-color: #ffffff;
        height: 100px;
    }
    
}
